<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="testTaskApp">

<head>
    <!--<div>{{title}}</div>-->
    <base href="/">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="resources/css/jquery-ui.css">

    <script   src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.min.js"></script>-->

    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/angular-aria.min.js"></script>
    <script src="lib/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>-->
    <script src="lib/angular-material.min.js"></script>

    <script src="lib/angular-route.min.js"></script>


    <script src="controllers/customServices.js"></script>
    <script src="controllers/form-controller.js"></script>

<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/flick/jquery-ui.css" />
<script src="lib/jquery-ui.min.js"></script>
<style type="text/css">
    .ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
        font-weight: normal;
        margin: -1px;
        text-align:left;
        font-size:14px;
    }
    .ui-autocomplete-loading { background: white center no-repeat; }
</style>

<script type="text/javascript">
    jQuery(function ()
    {
        jQuery(".ff_elem").autocomplete({
            source: function (request, response) {
                jQuery.getJSON(
                        "http://gd.geobytes.com/AutoCompleteCity?callback=?&q="+request.term,
                        function (data) {
                            response(data);
                        }
                );
            },
            minLength: 3,
            select: function (event, ui) {
                var selectedObj = ui.item;
                jQuery(".ff_elem").val(selectedObj.value);
                return false;
            },
            open: function () {
                jQuery(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                jQuery(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        });
        jQuery(".ff_elem").autocomplete("option", "delay", 100);
    });
</script>


</head>

<body ng-controller="formCtrl" class="ng-cloak">
<md-toolbar>
    <div class="layout-row" layout-align="center center">
        <div>
            <h3>
                <span>Test Task</span>
            </h3>
        </div>
    </div>
</md-toolbar>

<section class="content">
    <section>
        {% block content %}{% endblock %}
    </section>
</section>
<md-toolbar class="footer" layout="row" layout-align="center center">
    <div>
        <span>Created by Volodymyr Sydorov </span>
        <span><a class="md-default-theme" href="#">e-mail: wladimir.sidorow@gmail.com</a> .</span>
    </div>
</md-toolbar>
</body>

</html>
